/[L]ibrary/
/[T]emp/
/[O]bj/
/[B]uild/
/[B]uilds/
/[L]ogs/
/[U]serSettings/
/[M]emoryCaptures/

# Arquivos de solução do Visual Studio / Rider gerados automaticamente
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svclog
*.com.unity.ide.rider.flow

# Crash reports
sysinfo.txt

# Assets comprados que não devem subir pro Git (opcional, mas boa prática)
# /[A]ssets/AssetStoreTools*
